.product {
  padding: 20px 50px;
  display: flex;
  gap: 10px;
}

.leftProduct {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.images {
  flex-direction: row;
}

.imgProduct {
  width: 80px;
  height: 80px;
  object-fit: contain;
  cursor: pointer;
  margin-bottom: 10px;
}

.mainImg {
  flex-direction: row-reverse;
}

.imgMain {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.rightProduct {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.titleProdoc {
  font-size: 40px;
}

.price {
  font-size: 30px;
  color: gold;
  font-weight: 500;
}

p {
  font-size: 18px;
  font-weight: 300;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.productButton,
.add {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.add {
  width: 250px;
  padding: 10px;
  background-color: gold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  border: none;
  font-weight: 500;
}

.links {
  display: flex;
  gap: 20px;
}
.item {
  display: flex;
  align-items: left;
  gap: 10px;
  color: gold;
  font-size: 14px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: gray;
  font-size: 14px;
  margin-top: 30px;
}

hr {
  width: 200px;
  border: 1px solid rgb(238, 237, 237);
}

hr {
  border: 1px solid rgb(238, 237, 237);
}

@media (max-width: 600px) {
  .product {
    flex-direction: column;
  }
  .titleProdoc {
    font-size: 25px;
  }
  .leftProduct {
    flex-direction: row;
    gap: 20px;
  }
  .imgProduct {
    height: 100px;
  }
}
